<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Guitar Shop</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>

<body>
<div id="page">
    <div id="header">
        <h1>Product Manager</h1>
    </div>

    <div id="main">
        <h1>Add Product</h1>
        <form action="/add_product" method="post"
              id="add_product_form">

            <label for="category_key">Category:</label>
            <select name="category_key" id="category_key">
                {% for category in category_list %}
                    <option value="{{ category }}">
                        {{ category }}
                    </option>
                {% endfor %}
            </select>
            <br/>

            <label for="code">Code:</label>
            <input type="text" id="code" name="code"/>
            <br/>

            <label for="name">Name:</label>
            <input type="text" id="name" name="name"/>
            <br/>

            <label for="price">List Price:</label>
            <input type="text" id="price" name="price"/>
            <br/>

            <label>&nbsp;</label>
            <input type="submit" value="Add Product"/>
            <br/>
        </form>
        <p><a href="/view/static">View Product List</a></p>
    </div>

    <div id="footer">
        <p>
            &copy; My Guitar Shop, Inc.
        </p>
    </div>

</div>
</body>
</html>