<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Guitar Shop</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>

<body>
<div id="page">

    <div id="header">
        <h1>Product Manager</h1>
    </div>

    <div id="main">

        <h1>Category List</h1>
        <table>
            <tr>
                {% for category in category_list %}
                    <tr>
                    <td class="right">{{ category }}</td>
                    <td>
                    <form action="/delete_category?category_key=category_key" method="post"
                          id="delete_product_form">
                        <input type="hidden" name="category_key"
                               value="{{ category_key }}"/>
                        <input type="submit" value="Delete"/>
                    </form>
                    </tr>
                {% endfor %}


            <!-- add code for the rest of the table here -->

        </table>
        <br/>

        <h2>Add Category</h2>
        <form action="/add_category" method="post">
            <input type="text" id="category" name="category"/>
            <div id="buttons">
                <input type="submit" value="Enter"/><br/>
            </div>
        </form>

        <br/>
        <p><a href="/view/static">List Products</a></p>

    </div>

    <div id="footer">
        <p>
            &copy; My Guitar Shop, Inc.
        </p>
    </div>

</div>
</body>
</html>