<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Guitar Shop</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>

<body>
<div id="page">

    <div id="header">
        <h1>Product Manager</h1>
    </div>

    <div id="main">

        <h1>Category List</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>&nbsp;</th>
            </tr>

            <!-- add code for the rest of the table here -->

        </table>
        <br/>

        <h2>Add Category</h2>

        <!-- add code for the form here -->

        <br/>
        <p><a href="/view/static">List Products</a></p>

    </div>

    <div id="footer">
        <p>
            &copy; My Guitar Shop, Inc.
        </p>
    </div>

</div>
</body>
</html>